.idea/*
.networks3D.py.swp
C.tif
DATA/*
DATA_DIR/*
Pics_input/*
Pics_output/*
Recons3D/*
Recons3D_NNR_0/*
Recons3D_PSF/*
Recons3D_PSF_0/*
Recons3D_torch/*
__pycache__/*
log/*
pupil.tif
repo/*
selfdata.gif
tmp/*
vis/*

